<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="true"
         stopOnError="true"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         bootstrap="tests/bootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
>
<coverage>
    <report>
        <clover outputFile="./tests/logs/coverage.xml"/>
        <html outputDirectory="./tests/logs/coverage" lowUpperBound="50" highLowerBound="80"/>
    </report>
</coverage>
<testsuites>
    <testsuite name="FlysystemSshShellAcceptance">
        <directory>tests/Acceptance</directory>
    </testsuite>
</testsuites>
<php>
    <env name="TESTS_SSH_KEY" value="root"/>
    <env name="TESTS_SSH_USER" value="root"/>
    <env name="TESTS_SSH_HOST" value="pup-data-container"/>
    <server name="WORKSPACE" value="/tmp/" force="true"/>
</php>
<logging>
    <testdoxHtml outputFile="./tests/logs/testdox.html"/>
</logging>
</phpunit>
